#dashboard {
  margin-right: 20px;
  margin-left: 20px;
  background-color: whitesmoke;
}

#services {
  margin-top: 3px;
  width: 250px;
}

#container {
  height: 520px;
}

div.well {
  background-color: white;
  color: white;
}

#nav {
  color: white;
}

li {
  width: 250px;
  text-align: center;
}

.instructions {
  color: black;
}

